{{>layouts/header}} <!--잘라낸 헤더 레이아웃 붙이기! 변수가 아닌 템플릿을 불러올때는 꼭 꺽쇠 > 붙이기!!!, 그리고 경로도 확실하게!-->

<!--content-->
<div class="bg-dark text-white p-5">
    <h1>{{username}}, 안녕하세요!!!!!!</h1> <!--mustache 문법!-->
</div>

{{>layouts/footer}}

